.navbar {
  font-weight: 400;
  transition: background 0.25s ease;
  -webkit-transition: background 0.25s ease;
  -moz-transition: background 0.25s ease;
  -ms-transition: background 0.25s ease;
  box-shadow: none;
  background: #F4F5F7;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar .navbar-brand-wrapper {
  background: #F4F5F7;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease;
  width: 220px;
  height: 97px;
  padding: 20px 35px;
}


.navbar .navbar-menu-wrapper {
  background: #F4F5F7;
  transition: width 0.25s ease;
  -webkit-transition: width 0.25s ease;
  -moz-transition: width 0.25s ease;
  -ms-transition: width 0.25s ease;
  color: #6C7383;
  padding-left: 3.5rem;
  padding-right: 2.187rem;
  padding-top: 30px;
  padding-bottom: 25px;
  width: calc(100% - 220px);
  height: 97px;
}

.navbar .navbar-brand-wrapper .navbar-toggler:not(.navbar-toggler-right) {
  transform: rotate(0deg);
  -webkit-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
}

.navbar .navbar-brand-wrapper .navbar-toggler {
  border: 0;
  color: inherit;
  font-size: 1rem;
  padding: 0;
  border-radius: 0;
}

.navbar .navbar-brand-wrapper .navbar-brand {
  color: #27367f;
  font-size: 1.5rem;
  margin-right: 0;
  padding: 0;
  line-height: 1;
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}